fastapi
uvicorn
langgraph
langchain
langchain-core
pydantic
transformers
tree-sitter==0.21.3
tree-sitter-languages
torch
bitsandbytes
accelerate
peft
langchain_openai
python-dotenv
httpx
langchain-ollama